*.pyc
.DS_Store
.idea/
data/
mnist/.DS_Store
mnist/t10k-images-idx3-ubyte
mnist/t10k-labels-idx1-ubyte
mnist/train-images-idx3-ubyte
mnist/train-labels-idx1-ubyte
/mnist/vis_self/
/mnist/code.txt
/mnist/code1.txt
/xxx.py
